@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700,300,500,400italic|Montserrat:400,700|Material+Icons);
@import 'components/theme';
@import 'components/header';
@import 'components/form';
@import 'components/input';
@import 'components/button';
@import 'components/card';
@import 'components/select';
@import 'components/footer';

*, *:before, *:after{
  box-sizing: border-box;
  outline: none;
}
a{
  outline: none;
}

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto';
    color: $primary_text;
    display: flex;
    flex-direction: column;
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
}
.capitalize{
  text-transform: capitalize;
}
div.content {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  box-shadow: 0 10px 40px rgba(0,0,0, .2);
  z-index: 1;
  padding-top: 1em;

  & > div.items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    padding: 1em;

  }


}
div.content x-item{
  margin: 1em 0;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}
.pacifico{
    font-family: 'Pacifico', cursive;
}

.montserrat{
  font-family: 'Montserrat';
}
.submenu{
    background-color: #3F51B5;
}

.hidden{
  display: none!important;
  visibility: hidden;
}
