@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700,300,500,400italic|Montserrat:400,700|Material+Icons);
@import 'components/theme';
@import 'components/header';
@import 'components/form';
@import 'components/input';
@import 'components/button';
@import 'components/card';
@import 'components/select';
@import 'components/footer';
@import 'components/icons';
@import 'components/images';
@import 'components/videos';


*, *:before, *:after{
  box-sizing: border-box;
  outline: none;
}
a{
  outline: none;
}
html,body{
  height: 100%;
}
body{
    margin: 0;
    width: 100%;
    // min-height: 100vh;
    font-family: 'Roboto';
    color: $primary_text;
    display: flex;
    flex-direction: column;
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
}
h2{
  color: $secundary_text;
  font-size: 3rem;
  margin: 1em auto;
}
h3{
  font-weight: 300;
  font-size: 30px;
  margin-top: 0;
}

div.content {
  display: flex;
  width: 100%;
  flex-basis: 100%;
  box-shadow: 0 10px 40px rgba(0,0,0, .2);
  z-index: 1;
  // padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  @media screen and (max-width: 640px) {
    & > div.menu-container {
      display: none!important;
    }
    h2{
      font-size: 7vw;
    }
  }

  @media screen and (max-width: 360px) {
      & > div.main-container {
          flex-basis: 100%;
          div.items-container{
            justify-content: center!important;
            padding: 0!important;
            x-item{
              width: 100%;
            }
          }
      }
  }

  div.menu-container{
    @extend div.main-container;
    flex-basis: 20%!important;
    menu{
      // width: 100%;
      padding: 0;
      margin: 1em 1em 0 1em;
      ul{
        li{
          padding: .5em 1em;
          border: 1px solid $divider_color;
          background-color: rgba(10,10,10, .05);
          a{
            color: rgba(0,0,0, .7);
            text-decoration: none;
            width: 100%;
          }
        }
      }
    }

  }


  & > div.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 2;

    .title-container{
      margin: 0 1em;
      border-bottom: 1px solid lighten($divider_color, 15%);

      h4{
        margin-bottom: 10px;
        color: $secundary_text;
      }
    }

    div.items-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: flex-end;
      padding: 0 1em 1em 1em;
    }
  }
}

div.content x-item{
  margin: 1em 0;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}
.pacifico{
    font-family: 'Pacifico', cursive;
}
.montserrat{
  font-family: 'Montserrat';
}
.submenu{
    background-color: $primary;
}
.hidden{
  display: none!important;
  visibility: hidden;
}
.capitalize{
  text-transform: capitalize;
}
