<template>
  <style>
    @import '../css/all.css';
    @import '../css/style.css';
    #fb{
      background-color: #2d5f9a;
      padding: .1em .2em;
      margin-top: 10px;
    }
    .icon-facebook-official{
      font-size: 19px;
      font-weight: bold;
    }

  </style>
  <button id="fb" class="btn lg">
    <span class="icon-facebook-official"> Facebook</span>
  </button>
</template>
<script>
  (function(window, document, undefined){
    'use strict';
    var thatDoc = document;


    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;


    var template = thisDoc.querySelector('template').content;


    var fbButton = Object.create(HTMLElement.prototype);

    fbButton.url = null;

    fbButton.createdCallback = function() {
      var shadowRoot = this.createShadowRoot();

      var clone = thatDoc.importNode(template, true);
      shadowRoot.appendChild(clone);


      this.addEventListener('click', function (){

        window.location.href = this.url;
      }.bind(this), false);

      if (this.hasAttribute('url')) {
          var url = this.getAttribute('url');
          this.setUrl(url);
      }
    };
    fbButton.attributeChangedCallback = function(attr, oldVal, newVal) {
      switch (attr) {
        case 'url':
          this.setUrl(newVal);
          break;
      }
    };

    fbButton.setUrl = function(val) {
        this.url = val;
    };


    window.fbButton = thatDoc.registerElement('fb-button', {
        prototype: fbButton
    });

  })(window, document);
</script>
