<template>
  <style>
    @import '../css/all.css';
    #gh{
      background-color: #444;
      padding: .1em .2em;
      color: white;
    }
    .icon-github{
      font-size: 19px;
      font-weight: bold;
    }

  </style>
  <button id="gh" class="btn lg">
    <span class="icon-github"> GitHub</span>
  </button>
</template>
<script>
  (function(window, document, undefined){
    'use strict';
    var thatDoc = document;


    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;


    var template = thisDoc.querySelector('template').content;


    var ghButton = Object.create(HTMLElement.prototype);

    ghButton.url = null;

    ghButton.createdCallback = function() {
      var shadowRoot = this.createShadowRoot();

      var clone = thatDoc.importNode(template, true);
      shadowRoot.appendChild(clone);

      this.addEventListener('click', function (){
        window.location.href = this.url;
      }.bind(this), false);

      if (this.hasAttribute('url')) {
          var url = this.getAttribute('url');
          this.setUrl(url);
      }
    };
    ghButton.attributeChangedCallback = function(attr, oldVal, newVal) {
      switch (attr) {
        case 'url':
          this.setUrl(newVal);
          break;
      }
    };

    ghButton.setUrl = function(val) {
        this.url = val;
    };

    window.ghButton = thatDoc.registerElement('gh-button', {
        prototype: ghButton
    });

  })(window, document);
</script>
