<template>
  <style>
    @import '../css/all.css';
    @import '../css/style.css';
    #go{
      background-color: #db4437;
      padding: .1em .2em;
    }
    .icon-google-plus{
      font-size: 19px;
      font-weight: bold;
    }

  </style>
  <button id="go" class="btn lg">
    <span class="icon-google-plus"> Google +</span>
  </button>
</template>
<script>
  (function(window, document, undefined){
    'use strict';
    var thatDoc = document;


    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;


    var template = thisDoc.querySelector('template').content;


    var goButton = Object.create(HTMLElement.prototype);

    goButton.url = null;

    goButton.createdCallback = function() {
      var shadowRoot = this.createShadowRoot();

      var clone = thatDoc.importNode(template, true);
      shadowRoot.appendChild(clone);

      if (this.hasAttribute('url')) {
          var url = this.getAttribute('url');
          // this.setUrl(url);
      }
    };
    goButton.attributeChangedCallback = function() {};

    window.fbButton = thatDoc.registerElement('go-button', {
        prototype: goButton
    });

  })(window, document);
</script>
