<template>
  <style>
    @import '../css/all.css';
    #container{
      display: flex;
      flex-direction: column;
    }
    fb-button{
      order: 1;
    }
    go-button{
      order: 2;
    }
    gh-button{
      order: 3;
    }
    tw-button{
      order: 4;
    }
  </style>
  <div id="container"></div>
</template>
<script charset="utf-8">
  (function(window, document, undefined){
    'use strict';

    var thatDoc = document;
    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    var shadowRoot;

    var template = thisDoc.querySelector('template').content;
    var socialButtons = Object.create(HTMLElement.prototype);
    var socialNetworks = [
      'fb',
      'go',
      'gh',
      'tw'
    ];


    socialButtons.importHref = function (file, cb){
      var link = thisDoc.createElement('link');
      link.rel = 'import';
      link.href = file;
      link.setAttribute('async', '');
      this.appendChild(link);
      if(typeof cb === 'function'){
        link.onload = cb.bind(this);
      }
    };
    socialButtons.createdCallback = function() {
      shadowRoot = this.createShadowRoot();

      var clone = thatDoc.importNode(template, true);
      shadowRoot.appendChild(clone);



      socialNetworks.forEach(function(sn){
        if(this.hasAttribute(sn + '-url')){
          this.importHref('/components/' + sn + '.html', function(){
            var snb = thisDoc.createElement( sn + '-button');
            snb.setAttribute('url', this.getAttribute(sn + '-url'));

            shadowRoot.querySelector('div').appendChild(snb);
          });
        }
      }, this);
    };
    socialButtons.attributeChangedCallback = function(attr, oldVal, newVal) {
      // var cont = thatDoc.querySelector('social-buttons');
      socialNetworks.forEach(function(sn){
        if(attr.indexOf(sn) > -1) {
          if(!newVal){
            shadowRoot.querySelector('div ' + sn + '-button').remove();
          }else{
            var ele = shadowRoot.querySelector('div ' + sn + '-button');
            if(!ele){
              var snb = thisDoc.createElement(sn+'-button');
              snb.setAttribute('url', this.getAttribute(sn+'-url'));
              shadowRoot.querySelector('div').appendChild(snb);
            }else{
              ele.setAttribute(sn+'-url', newVal);
            }
          }
        }
      });
      if(attr === 'tw-url' && this.hasAttribute('tw-url')){
        // var tw = thatDoc.querySelector('tw-button');
        // cont.removeChild(tw);
        this.importHref('/components/tw.html', function(){
          var snb = thisDoc.createElement('tw-button');
          snb.setAttribute('url', this.getAttribute('tw-url'));
          shadowRoot.querySelector('div').appendChild(snb);
        });
      }
    };

    window.socialButtons = thatDoc.registerElement('social-buttons', {
        prototype: socialButtons
    });

  })(window, document);
</script>
