<template>
  <style>
    @import '../css/all.css';
    #tw{
      background-color: #55acee;
      padding: .1em .2em;
    }
    .icon-twitter{
      font-size: 19px;
      font-weight: bold;
    }

  </style>
  <button id="tw" class="btn lg">
    <span class="icon-twitter"> Twitter</span>
  </button>
</template>
<script>
  (function(window, document, undefined){
    'use strict';
    var thatDoc = document;


    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;


    var template = thisDoc.querySelector('template').content;


    var twButton = Object.create(HTMLElement.prototype);

    twButton.url = null;

    twButton.createdCallback = function() {
      var shadowRoot = this.createShadowRoot();

      var clone = thatDoc.importNode(template, true);
      shadowRoot.appendChild(clone);

      this.addEventListener('click', function (){
        window.location.href = this.url;
      }.bind(this), false);

      if (this.hasAttribute('url')) {
          var url = this.getAttribute('url');
          this.setUrl(url);
      }
    };
    twButton.attributeChangedCallback = function(attr, oldVal, newVal) {
      switch (attr) {
        case 'url':
          this.setUrl(newVal);
          break;
      }
    };

    twButton.setUrl = function(val) {
        this.url = val;
    };

    window.twButton = thatDoc.registerElement('tw-button', {
        prototype: twButton
    });

  })(window, document);
</script>
