header {
  width: 100%;
  height: 136px; }
  header.cabecera {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
  header ul {
    margin: 0;
    padding: 0; }
  header a {
    text-decoration: none;
    color: white; }
    header a.button-icon {
      min-height: 32px;
      min-width: 32px;
      border-radius: 50%;
      display: table;
      margin: 0 .2em;
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease; }
      header a.button-icon i {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
      header a.button-icon:hover {
        background-color: rgba(158, 158, 158, 0.2); }
      header a.button-icon:active {
        background-color: rgba(158, 158, 158, 0.7); }
    header a .title {
      color: white;
      font-size: 2em; }
      @media screen and (max-width: 750px) {
        header a .title {
          font-size: 90%; } }
  header nav.utils {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #303F9F;
    width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0 .5rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    height: 100px; }
    header nav.utils div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      header nav.utils div.buscador {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
            -ms-flex: 2;
                flex: 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        position: relative; }
        header nav.utils div.buscador i {
          vertical-align: middle;
          position: absolute;
          font-size: 24px;
          left: 24px;
          top: 6px;
          color: #212121; }
        header nav.utils div.buscador input {
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          padding: 8px 8px 8px 72px;
          width: 100%;
          height: 36px;
          -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
          border: none;
          border-radius: 3px;
          font-weight: 300;
          outline: none;
          background-color: #5c6bc0;
          color: white; }
          header nav.utils div.buscador input:hover {
            background-color: #818cce; }
          header nav.utils div.buscador input:focus {
            color: black;
            background-color: white; }
    header nav.utils ul {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 0 auto;
      display: table;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center; }
      header nav.utils ul li {
        display: table-cell;
        vertical-align: middle;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-align-content: center;
            -ms-flex-line-pack: center;
                align-content: center; }
        header nav.utils ul li a {
          font-weight: bold;
          letter-spacing: 2px; }
  header nav.submenu {
    width: 100%;
    background-color: #3F51B5;
    height: 36px; }
    header nav.submenu ul {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav.submenu ul li {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        height: inherit; }
        header nav.submenu ul li a {
          -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
          -webkit-transition: opacity 500ms ease;
          transition: opacity 500ms ease;
          color: white;
          opacity: .75;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%;
          height: inherit;
          font-weight: bold; }
          header nav.submenu ul li a:hover, header nav.submenu ul li a.active {
            opacity: 1;
            border-bottom: 4px solid #FF4081;
            box-shadow: inset 1px 1px 30px rgba(0, 0, 0, 0.05); }
  @media screen and (max-width: 500px) {
    header div.logotipo {
      display: none; }
    header ul.menu {
      margin-left: 2em;
      -webkit-box-flex: 2 !important;
      -webkit-flex: 2 !important;
          -ms-flex: 2 !important;
              flex: 2 !important; }
    header div {
      -webkit-box-flex: 1;
      -webkit-flex: auto;
          -ms-flex: auto;
              flex: auto; } }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.wrap {
  padding: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  height: 30em; }

h2 {
  color: #727272;
  font-size: 3rem;
  margin: 1em auto; }

form {
  margin: auto; }
  form.signin.center {
    width: auto; }

.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575; }
  input:focus {
    outline: none; }
  input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE; }
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%; }
  input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease; }

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

input:focus:invalid ~ label {
  top: -20px;
  font-size: 14px;
  color: #d13030; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

.btn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #FF4081;
  color: #ecf0f1;
  -webkit-transition: background-color .3s;
  transition: background-color .3s; }
  .btn:hover, .btn:focus {
    background-color: #ff699c; }
  .btn > * {
    position: relative; }
  .btn span {
    display: block;
    padding: 12px 24px; }
  .btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    -webkit-transition: width .2s ease-out, padding-top .2s ease-out;
    transition: width .2s ease-out, padding-top .2s ease-out; }
  .btn.orange {
    background-color: #e67e22; }
  .btn.orange:hover, .btn.orange:focus {
    background-color: #d35400; }
  .btn.red {
    background-color: #e74c3c; }
  .btn.red:hover, .btn.red:focus {
    background-color: #c0392b; }
  .btn.lg {
    width: 100%; }

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  position: relative;
  height: 100%; }

h2 {
  font-weight: normal; }

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* ==========  Select Field Variables ========== */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: .9em;
  font-size: 16px;
  color: #999;
  border: none;
  border-bottom: 1px solid #757575; }

select:focus {
  outline: none; }

.mdl-selectfield label {
  display: none; }

.mdl-selectfield select {
  -webkit-appearance: none; }

.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
  margin-bottom: 2em; }
  .mdl-selectfield:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid #757575;
    pointer-events: none; }

footer {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303F9F; }
  footer div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%; }
    footer div:nth-of-type(1) {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      background-color: #303F9F;
      height: 80%; }
      footer div:nth-of-type(1) div.data {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-left: 1em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        footer div:nth-of-type(1) div.data ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
          footer div:nth-of-type(1) div.data ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center; }
            footer div:nth-of-type(1) div.data ul li > * {
              margin: 0 .3em; }
      footer div:nth-of-type(1) div.about {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
    footer div.social {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #3F51B5;
      height: 20%; }
      footer div.social ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; }
        footer div.social ul li {
          margin: 0 1em; }

* {
  box-sizing: border-box; }

a {
  outline: none; }

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto';
  color: #212121; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat'; }

.capitalize {
  text-transform: capitalize; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 45vh; }

.roboto {
  font-family: 'Roboto', sans-serif; }

.pacifico {
  font-family: 'Pacifico', cursive; }

.montserrat {
  font-family: 'Montserrat'; }

.submenu {
  background-color: #3F51B5; }
