/*
    Document   : public/css/style.css
    Created on : 2015-11-25 03:44 PM
    Author     : ruben96
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}
.lobster{
    font-family: 'Lobster', cursive;
}
.submenu{
    background-color: #3F51B5;
}