.label--checkbox {
  position: relative;
  margin: .5rem;
  line-height: 135%;
  cursor: pointer;
  color: $secundary_text!important;
}

.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
  display: flex;
  @extend .layout.center-center;
  @extend .layout.horizonta;
}


.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
  width: 0;
  display:inline;
  top: -20px;
}
.checkbox:before {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  transform: rotate(-45deg);
  height: .5rem;
  border-color: $secundary_accent;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}
