footer{
  width: 100%;
  height: auto;
  @extend .layout.vertical;
  color: rgba(255,255,255, .7);
  background-color: $dark_primary;
  h3{
    color: $text_color;
  }
  div{
    @extend .layout.horizontal;
    width: 100%;
    &:nth-of-type(1){
      padding-bottom: 1em;
      @extend .layout.around-justified;
      background-color: $dark_primary;
      div.data{
        @extend .layout.vertical;
        @extend .layout.start-justified;
        margin-left: 1em;
        padding: 0;
        ul{
          @extend .layout.vertical;
          @extend .layout.justified;
          height: 237px;
          li{
            display: flex;
            @extend .layout.start-justified;
            @extend .layout.center;
            margin-bottom: .2em;
            i.material-icons{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              text-align: center;
              background-color: $primary;
              display: flex;
              @extend .layout.center-center;
            }
            & > * {
              margin: 0 .5em;
            }

          }
        }
      }
      div.about{
        @extend .layout.vertical;
      }
    }
    &.social{
      justify-content: center;
      background-color: $primary;
      height: 20%;
      ul{
        @extend .layout.horizontal;
        @extend .layout.center-center;
        li{
          margin: 0 1em;
        }
      }
    }
  }
}
