.content.form{
  @extend .layout.vertical;
}

form{
  margin: auto;
  &#search-form{
    width: 100%!important;
    margin: 0!important;
  }
  &.signin{
    ul{
      border-bottom: 1px solid rgba(0,0,0,.2);
    }
  }

  &.signin.center{
    @extend .center;
    width: auto;
  }
  &.ticket{
    margin: 1em;
    ul{
      height: 100%;
      li, span.q{
        @extend .layout.horizontal;
        @extend .layout.center;
        flex-wrap: nowrap;
      }
      li{
        border-bottom: 1px solid lighten($divider_color, 15%);
        &.divider{
          border-top: 1px dashed black;
          border-bottom: inherit;
          padding-top: 1em;
          align-self: flex-end;
        }
        &:hover{
          border-bottom-color: $divider_color;
        }
        span.title{
          max-width: 126px;
          hyphens: auto;
          word-break: break-word;
          overflow-wrap: break-word;
          word-wrap: break-word;
          flex: 2;
        }
        span.size,span.color{
          margin-right: 5px;
        }
        span.q{
          margin-left: .3em;
          flex: 1;
        }
        span.price{
          flex: 1;
        }
        input{
          width: 3em;
          appearance:none;
          border: 0;
        }
      }
    }
  }
}
