.content.form{
  display: flex;
  flex-direction: column;
}

.wrap{
  // padding: 3em;
  display: flex;
  flex-direction: column;
  // width: 40%;
  margin: 0 auto;
  height: 30em;
}

.center{
  // margin: 0 auto;
}

h2{
  color: $secundary_text;
  font-size: 3rem;
  margin: 1em auto;
}
form{
  margin: auto;

  &.signin.center{
    @extend .center;
    width: auto;
  }
}
