header{
    width: 100%;
    height: 64px;
    background-color: $dark_primary;
    &.cabecera{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
    .title{
        color: white;
        font-size: 2em;
    }
}
