header{
    width: 100%;
    height: 136px;
    // position: fixed;


    div.logotipo{

    }

    &.cabecera{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    ul{
      margin: 0;
      padding: 0;
    }
    a{
      text-decoration: none;
      color: white;
      &.button-icon{
        min-height: 32px;
        min-width: 32px;
        border-radius: 50%;
        display: table;
        margin: 0 .2em;
        transition: all 400ms ease;
        i{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
        &:hover{
          background-color: rgba(158,158,158,.2);
        }
        &:active{
          background-color: rgba(158,158,158, .7);
        }
      }
      .title{
          color: white;
          font-size: 2em;
        @media screen and (max-width: 750px) {
            & {
                font-size: 90%;
            }
        }

      }
    }
    nav.utils{
      display: flex;
      flex-direction: row;
      background-color: $dark_primary;
      width: 100%;
      justify-content: space-around;
      padding: 0 .5rem;
      align-items: center;
      flex-wrap: nowrap;
      height: 100px;
      div.dropdown_menu{
        position:absolute;
        background-color: rgb(246,246,246);
        padding: 1em;
        z-index: 30;
        box-shadow: 0 0 20px rgba(0,0,0, .2);
        border-radius: 3px;
        left: -70px;
        transition: all 1000ms ease;
        min-width: 11.5rem;

        ul{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 1em;
          width: 100%;
          li{
            display: flex;
            width: 100%;
            border-bottom: 1px solid rgba(0,0,0,.05);
            margin-bottom: 5px;
            &:hover > a{
              font-weight: bold!important;
            }
            &.btn-li{
              border: 0;
              height: 2em;
              button{
                margin: 0;
                font-weight: bold;
                background-color: $accent_color;
              }
            }

            a{
              transition: all 500ms ease;
              font-weight: normal;
              text-align: left;
              color: black;
              &.carrito{
                font-size: 12px;
                display: inline-flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                i{
                  font-size: 25px;
                }
              }
            }

          }
        }
      }
      div{
        flex: 1;
        &.buscador{
          flex: 2;
          display: flex;
          flex-direction: row;
          position: relative;
          i{
            vertical-align: middle;
            position: absolute;
            font-size: 24px;
            left: 24px;
            top: 6px;
            color: $primary_text;
          }
          input{
            appearance: none;
            padding: 8px 8px 8px 72px;
            width: 100%;
            height: 36px;
            transition: all 200ms ease;
            border: none;
            border-radius: 3px;
            font-weight: 300;
            outline: none;
            background-color: #5c6bc0;
            color: white;
            &:hover{
              background-color: lighten(#5c6bc0, 10%);
            }


            &:focus{
              color: black;
              background-color: white;
            }
          }
        }
      }


      ul{
        flex: 1;
        margin: 0 auto;
        display: table;
        display: flex;
        justify-content: center;
        align-content: center;

        li{
          display: table-cell;
          vertical-align: middle;
          align-self: center;
          align-content: center;
          a{
            font-weight: bold;
            letter-spacing: 2px;
          }
        }
      }

    }

    nav.submenu{
      width: 100%;
      background-color: $primary;
      height: 36px;

      ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        align-items: center;
        li{

          flex: auto;
          height: inherit;
          a{
            transition: all 200ms ease;
            transition: opacity 500ms ease;
            color: white;
            opacity: .75;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: inherit;
            font-weight: bold;
            &:hover, &.active{
              opacity: 1;
              border-bottom: 4px solid $secundary_accent;
              box-shadow: inset 1px 1px 30px rgba(0,0,0, .05);

            }
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
        div.logotipo{
            display: none;
        }
        ul.menu{
          margin-left: 2em;
          flex: 2!important;
        }
        div{
          flex: auto;
        }

    }

}
