div.multimedia.imagenes{
  @extend .layout.horizontal;
  @extend .layout.wrap;
  @extend .layout.around-justified;
  @extend .layout.center-center;
  flex-basis: 100%!important;
  img{
    display: block;
  }
}
.lightbox-target {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
  z-index: 300;
  &:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0;
    max-width: 0;
    border: 3px solid white;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
  }
}
a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  transition: 0.5s ease-in-out;
  &:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    transform: rotate(45deg);
  }
  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top: 10px;
    transform: rotate(-45deg);
  }
}
.lightbox-target:target a.lightbox-close {
  top: 0;
}

.why-its-rad {
  @extend .layout.vertical;
  @extend .layout.center;
  width: 100%;
  position: relative;
  margin-top: 7em;
  section {
    @extend .layout.horizontal;
    @extend .layout.wrap;
    flex-grow: 0;
    flex-basis: 30%;
    margin: 0 auto 10em auto;
    @extend .layout.center-center;
    &.columns:nth-child(even){
      @extend .layout.wrap-reverse;
      .column:first-child{
        order: 2;
      }
      .column:last-child{
        order: 1;
      }
    }
    .column {
      flex-grow: 0;
      flex-basis: 30%;
      flex-shrink: 0;
      &:first-child, &:last-child{
        margin-right: 1em;
      }
      video {
        position: relative;
        width: 390px;
        border-radius: 5px;
      }
      .video-container {
      	position:relative;
      	padding-bottom:56.25%;
      	padding-top:30px;
      	height:0;
      	overflow:hidden;
        width: 390px;
      }

      .video-container iframe, .video-container object, .video-container embed {
      	position:absolute;
      	top:0;
      	left:0;
      	width:100%;
      	height:100%;
      }
    }
  }
}
