/* ==========  Select Field Variables ========== */
$color-black: '0,0,0';
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$select-padding: 4px;

select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: .9em;
  font-size: $select-font-size;
  color: #999;
  border: none;
  border-bottom: 1px solid #757575;
}

select:focus {
  outline: none}

.mdl-selectfield label {display: none;}

.mdl-selectfield select {-webkit-appearance: none}
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
  margin-bottom: 2em;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid #757575;
        pointer-events: none;
    }
}
