$dark_primary:     #303F9F;
$primary:          #3F51B5;
$light_primary:    #C5CAE9;
$text_color:       #FFFFFF;
$accent_color:     #4CAF50;
$primary_text:     #212121;
$secundary_text:   #727272;
$divider_color:    #B6B6B6;
$secundary_accent: #FF4081;
